<html>
<form (ngSubmit)="submit()" [formGroup]="form" class="form-container">


  <div class="form-field">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Enter event title">

    </mat-form-field>
  </div>

  <div class="form-field">
    <!--<mat-form-field appearance="fill" class="full-width">
      <mat-label>Check-in</mat-label>
      <input formControlName="dateDebut" matInput placeholder="Enter the check-in date">

    </mat-form-field>-->
    <mat-form-field>
      <mat-label>Check-in</mat-label>
      <input [matDatepicker]="picker" formControlName="dateDebut" matInput>
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field>
      <mat-label>Check-out</mat-label>
      <input [matDatepicker]="picker1" formControlName="dateFin" matInput>
      <mat-datepicker-toggle [for]="picker1" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Location</mat-label>
      <input formControlName="lieu" matInput placeholder="Enter event location">

    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button (click)="close()" class="mat-raised-button">Close</button>
    <button (click)="save()" class="mat-raised-button mat-primary">Save</button>
  </mat-dialog-actions>

</form>


</html>
